    .ag-header-cell-filtered {
        background-color: #e5e5e5;
    }
    #filter{
       	margin-right:5px;
  		float:right;
    }
    #excel{
    	margin-right:5px;
  		float:right;		
	}
	#signOut{
		margin-right:5px;
  		float:right;		  
	}
	#blankDiv{
		height:30px;
	}
/* 	使用者按下ctrl+f之後加亮篩選框 */
	.filterShow{
		border:3px solid blue;
	}