<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myBatis.INV_ITEM_Mapper">
 <resultMap type="INV_ITEM" id="INV_ITEM_Result">
  <result property="REC_DATE" column="REC_DATE"/>
  <result property="PUR_NO" column="PUR_NO"/>
  <result property="MAT_01" column="MAT_01"/>
  <result property="COL_NO" column="COL_NO"/>
  <result property="WID_TH" column="WID_TH"/>
  <result property="CNT_NO" column="CNT_NO"/>
  <result property="LOT_ID" column="LOT_ID"/>
  <result property="LOC_CODE" column="LOC_CODE"/>
  <result property="STOCK_QTY" column="STOCK_QTY"/>
  <result property="UNT_RQ" column="UNT_RQ"/>
 </resultMap>
 
 <select id="findAllINV_ITEM" resultMap="INV_ITEM_Result">
  select * from INV_ITEM
 </select>
 

</mapper>